body {
    margin: 0;
}

main {
    height: 100vh;
    display: grid;
    grid-template-rows: 50px 1fr;
    font-family: Helvetica, sans-serif;
}

#navbar, #contents {
    width: 100vw;
}

#navbar {
    background-color: rgba(163,122, 87,0.7);
    height: 50px;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 450px) {
    #navbar {
        justify-content: center;
    }
}

.nav-link {
    display: block;
    text-decoration: none;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 1.3em;
    animation-name: nav-fade;
    animation-duration: 4s;
}

#contents {
    overflow-y: scroll;
    text-align: center;
}

#welcome-section {
    background-color: rgba(163,122, 87,0.7);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.4em;
    color: white; 
}

#welcome {
    margin-top: -10%;
    margin-bottom: -15px;
    font-size: 1.8em;
    font-weight: normal;
    color: rgba( 27, 29, 72,0.9); 
    animation-name: welcome-fade;
    animation-duration: 2s;
}

#who-I-am {
    animation-name: who-fade;
    animation-duration: 3s;
}

@keyframes welcome-fade {
    0%  {opacity: 0;}
    100%{opacity: 1;}
}

@keyframes who-fade {
    0%  {opacity: 0;}
    50% {opacity: 0;}    
    100%{opacity: 1;}    
}

@keyframes nav-fade {
    0%  {opacity: 0;}
    70% {opacity: 0;}    
    100%{opacity: 1;}    
}

h2 {
    font-weight: normal;
    font-size: 1.8em;
}

#projects {
    padding-top: 5%;
    color: rgba( 51, 91, 25,1);
    width: 100vw;
    min-height: 100vh;
}

.project-img {
    width: 200px;
    height: auto;
}

#all-projects {
    display: block;
    text-decoration: none;
    border-radius: 10px;
    width: 30%;
    padding: 10px;
    color: white;
    background-color: rgba( 51, 91, 25,1);
    /*rgba( 68, 70,113,1);*/
    margin: auto;
    margin-bottom: 30px;
}

#project-tiles {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    margin-bottom: 20px;
}

.project-tile {
    height: 165px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 200px;
    box-shadow: 0 0 20px black;
    text-decoration: none;
    color: rgba( 51, 91, 25,1);
}

.language {
    width: 200px;
    height: auto;
    color: white;
    font-size: 3em;
    font-family: monospace;
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: rgba( 51, 91, 25,1);
}

.project-tile p {
    bottom: 0;
}

#contact {
    padding-top: 5%;
    color: white;
    background-color: rgba( 68, 70,113,0.8);
    text-align: center;
    width: 100vw;
    min-height: 100vh;
}

#contact-links {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-link {
    width: 100px;
    height: 100px;
    line-height: 115px;
    text-align: center;
    display: block;
    text-decoration: none;
    border-radius: 100%;
    border: thin solid rgba( 27, 29, 72,1);
    margin: 50px;
    font-size: 1.2em;
    background-color: white;
    color: rgba(104, 63, 28,1);
}
